/* 
    Created on : May 8, 2015, 4:31:38 PM
    Author     : Kevin Tan
*/

body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    font-size: 24px;
}

a {
    text-decoration: none;
}

a.lighten {
    color: #333333;
}

a.lighten:hover {
    color: #DDDDDD;
}

a.footer-link {
    color: #FFFFFF;
}

p a {
    text-decoration: underline;
    color: #1E4FE6;
}

p a:hover {
    color: #DDDDDD;
}

.transition {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
.back-button, .next-button {
    font-size: 24px;
    font-weight: 700;
    color: #DDDDDD;
    text-align: center;
    position: fixed;
    top: 50%;
    margin-top: -30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.back-button { margin-left: -10px; }
.next-button { margin-right: -10px; }

.back-button:hover, 
.next-button:hover { 
    color: #1E4FE6;
    margin-left: 0;
    margin-right: 0;
}

.back-button:hover .line,
.next-button:hover .line,
.top-button:hover .line { 
    background-color: #1E4FE6;
}

.back-button {
    -webkit-transform: rotate(-90deg); /* Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* IE */
    -o-transform: rotate(-90deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    left: 0;
}

.next-button {
    -webkit-transform: rotate(90deg); /* Safari */
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE */
    -o-transform: rotate(90deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
    right: 0;
}

.top-button {
    font-weight: 700;
    font-size: 24px;
    color: #DDDDDD;
    text-align: center;
    margin-bottom: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.top-button:hover {
    color: #1E4FE6;
    margin: -10px 0 60px 0;
}

.line {
    display: block;
    background-color: #DDDDDD;
    margin: 0 auto 10px auto;
    width: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.line.twenty-five {
    height: 35px;
}

.line.one-hundred {
    height: 100px;
}

.read-more-button {
    display: inline-block;
    color: #1E4FE6;
    font-size: 24px;
    margin: 30px 0 0 0;
    padding: 0 0 5px 0;
    border-bottom: 4px solid #1E4FE6;
}

.read-more-button:hover {
    color: #DDDDDD;
    border-bottom: 4px solid #DDDDDD;
}

.post-list-item-container .read-more-button {
    font-size: 14px;
    margin-top: 15px;
    border-bottom: 3px solid #1E4FE6;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3 { margin: 0; }

h1, h2 {
    font-weight: 700;
    color: #333333;
}

h3 {
    font-family: "Neuton";
    font-weight: 300;
    color: #919191;
    font-size: 24px;
    margin-bottom: 20px;
}

.post-photo h3 {
    text-align: center;
    margin: 50px auto -35px auto;
}

p {
    font-family: "Neuton";
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    max-width: 650px;
    margin: 50px auto;
    padding-left: 60px;
    border-left: #DDDDDD solid 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#website-title {
    float: left;
    font-size: 24px;
    padding: 0 50px;
}

#navigation-button {
    float: right;
    font-size: 14px;
    padding: 0 50px;
}

.post-header-container h1 {
    font-size: 3.75em;
    color: #1E4FE6;
}

a.header-title-link:hover h1,
a.header-title-link:hover .read-more-button {
    color: #919191;
}

a.header-title-link:hover .read-more-button {
    border-bottom: 4px solid #919191;
}

.post-list-item-container h1 {
    font-size: 20px;
}

.post-list-item-container h3 {
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.post-container h2 {
    color: #1E4FE6;
    text-align: center;
    margin: 50px 0;
    font-size: 45px;
}

ul {
    font-family: "Neuton";
}

/* Containers
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
#full-page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

.header-container {
    width: 100%;
    margin: 50px 0 45px 0;
    overflow: auto;
}

.post-container {
    opacity: 0;
}

.post-header-container {
    display: block;
    width: 100%;
    text-align: left;
    overflow: auto;
}

.post-header-title-container {
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    padding-top: 30px;
}

.post-title-container-wrap {
    position: absolute;
    max-width: 1000px;
    width: 70%;
}

.post-list-container {
    overflow: hidden;
    margin: 50px auto;
    width: 95%;
}

.post-list-item-container {
    width: 30%;
    margin: 1.667%;
    padding-bottom: 20px;
}

.post-list-item-container:hover {
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transform: scale(1.02); 
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.post-list-item-container:hover h1,
.post-list-item-container:hover .read-more-button {
    color: #919191;
}

.post-list-item-container:hover .read-more-button {
    border-bottom: 3px solid #919191;
}

.footer-container {
    width: 100%;
    height: 100px;
    background-color: #DDDDDD;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
    width: 100%;
}

.post-header-container img {
    width: 83.333%;
    float: right;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.15;
}

/* Responsive
–––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 1120px) {
    body {
        font-size: 18px;
    }
}

/* Removes sideline buttons. */
@media (max-width: 950px) {
    #full-page-container {
        padding: 0;
    }
    
    .post-header-title-container {
        padding-left: 10%;
    }
    
    .back-button, .next-button {
        visibility: hidden;
    }
    
    .post-list-container {
        width: 95%;
    }
}

/* Removes line next to paragraph element. */
@media (max-width: 850px) {
    body {
        font-size: 14px;
    }
    
    h3 { font-size: 20px; }
    
    p {
        max-width: 600px;
        margin: 30px auto;
        padding: 0 20px;
        border-left: #DDDDDD solid 0px;
    }
    
    .post-list-item-container {
        width: 45%;
        margin: 2.5%;
    }
}

@media (max-width: 700px) {
    body { font-size: 12px; }

    p {
        font-size: 20px;
        line-height: 30px;
        max-width: 500px;
    }
    
    .post-title-container-wrap {
        width: 90%;
    }
    
    .footer-container {
        height: 80px;
        line-height: 80px;
    }
}

@media (max-width: 510px) {
    body                { font-size: 8px; }
    #website-title      { font-size: 20px; }
    #navigation-button  { font-size: 12px; }
    .top-button         { font-size: 20px; }
    .footer-container   { font-size: 18px; }
    h3                  { font-size: 18px; margin-bottom: 10px; }
    .read-more-button   { font-size: 18px; margin-top: 10px; }
    .post-container h2  { font-size: 30px; }
    
    .post-list-item-container {
        width: 100%;
    }
    
    .post-list-item-container {
        width: 100%;
        margin: 0 0 20px 0;
    }
}